@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/barlow-v5-latin-regular.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-regular.woff') format('woff'); 
  }
  
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/barlow-v5-latin-700.woff2') format('woff2'), 
         url('../fonts/barlow-v5-latin-700.woff') format('woff'); 
  }

*{
    box-sizing: border-box;
}

*img{
    vertical-align: middle;
}

body{
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 1320px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding-top: 44px;
    padding-bottom: 33px;
}

.header__img{
    width: 203px;
    height: 24px;
    margin: 0;
    padding: 0;
}

.header__img:hover{
    opacity: 0.8;
}

.header__list{
    list-style: none;
    display: flex;
    margin-left: 761px;
    padding: 0;
}

.header__item{
    margin-left: 33px;
    padding: 0;
}

.header-item__link{
    text-decoration: none;
    color: #83888F;
    font-weight: 700;
    font-size: 12px;
}

.active:hover{
    opacity: 0.8;
}

section{
    background-image: url(../images/Bitmap.jpg);
    width: 1280px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.great-coffe{
    width: 550px;
    margin: 0;
    padding-left: 84px;
    padding-top: 100px;
}

.section__title{
    font-weight: 700;
    font-size: 72px;
    color: #FEFCF7;
    margin: 0;
    padding: 0;
}

.section__text{
    font-size: 16px;
    font-weight: 400;
    color: #FEFCF7;
    margin-top: 32px;
    margin-bottom: 56px;
}

.section__link{
    text-decoration: none;
    background-color: #66D2CF;
    color: #FEFCF7;
    width: 217px;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    padding: 16px 31px;
    font-weight: 700;
    font-size: 18px;
}

.section__link:hover{
    opacity: 0.8;
}